body {
  margin: 0;
  background: #0b0b0b;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.songs {
  margin-top: 40px;
  text-align: center;
}

#visualizer {
  width: 100%;
  height: 260px;
  position: absolute;
  bottom: 0;
}
